*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: initial;
}

:root{
  --grid-width: 114rem;
  --gutter-horizontal: 6rem;
  --gutter-vertical: 8rem;
}

html{
  font-size: 62.5%;
}

body{
  box-sizing: border-box;
  line-height: 1.6;
  background-color: #eee;

}

.App{
  text-align: center;
}

.text{
  font-size: 6rem;
  margin-bottom: 4rem;
}
.btn{
  text-transform: uppercase;
  padding: 1.2rem 1.4rem;
  outline: none;
  cursor: pointer;
}

.row{
  max-width: var(--grid-width);
  margin: 0 auto;
}
  .row::after{
    content: '';
    display: table;
    clear: both;
  }
  .row:not(:last-child){
    margin-bottom: var(--gutter-vertical);
  }

  .row [class^="col-"]{
    float: left;
    background-color: red;
  }
  .row [class^="col-"]:not(:last-child){
    margin-right: var(--gutter-horizontal);
  }
  .row .col-1-of-2{
    width: calc((100% - (var(--gutter-horizontal))) / 2);
  }
  .row .col-1-of-3{
    width: calc((100% - 2 * (var(--gutter-horizontal))) / 3);
  }
  .row .col-2-of-3{
    width: calc(2 * (100% - 2 * (var(--gutter-horizontal))) / 3 + var(--gutter-horizontal));
  }
  .row .col-1-of-4{
    width: calc((100% - 3 * (var(--gutter-horizontal))) / 4);
  }
  .row .col-2-of-4{
    width: calc(2 * (100% - 3 * (var(--gutter-horizontal))) / 4 + var(--gutter-horizontal));
  }
  .row .col-3-of-4{
    width: calc(3 * (100% - 3 * (var(--gutter-horizontal))) / 4 + 2 * var(--gutter-horizontal));
  }

